* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 70px;
    background: #AB92BF; 
    text-align: center;
    top: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

h2 {
    display: flex;
    top: 500px; 
    color: #50514F;
}

.card {
    display: flex;
    margin: 100px 10%;
    border: 5px solid #50514F;
    padding: 3% 10%;
    scroll-margin-top: 100px;
    border-radius: 2rem;
    text-align: center;
    flex-direction: column; 
    position: relative;
}

footer {
    display: flex;
    position: fixed;
    background: #AB92BF; 
    text-align: center; 
    bottom: 0px;
    left: 0px;
    right: 0px;
    justify-content: space-around; 
}

.nav {
    list-style-type: none;
    display: flex; 
}